{%extends 'store/single_item_structure.html' %}
{% block content %}
{% if session.get('cart')%}


<h2>У Вашій корзині - {{session.get('cart').items_count() }} Товари</h2>
<hr>
{% for item in session.get('cart').items%}
	<h2>{{item.name}}</h2>
	<p>{{item.description}}</p>
	<h3>{{item.price}}</h3>
	<hr>
{%endfor%}
<h4>Загальна ціна товарів в корзині - {{session.get('cart').get_price()}}</h4>

<button class="button_margins">Оформити замовлення</button>

{%else%}
<h3>Корзина порожня сенсу немає</h3>
{%endif%}

{% endblock %}